<!-- Import main navigation from shared/components -->
<app-navbar #navigation></app-navbar>
<!-- Import main navigation from shared/components -->

<div class="wrapper">
  <!--<div class="navigation-loader" *ngIf="showLoader">
    <mat-spinner color="accent"></mat-spinner>
  </div>-->
  <router-outlet></router-outlet>
</div>

<!-- COOKIES USAGE DISCLAIMER -->
<!--<app-cookies></app-cookies>-->

<!-- Import footer from shared/components -->
<app-footer></app-footer>
<!-- Import footer from shared/components -->



