#folklore-logo {
  width: 300px;
  height: 72px;
}

#agaves-image {
  height: 492px;
  width: 100%;
}

#news-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.wp-post-image {
  width: 100px;
  height: 80px;
}

.ocasion-title {
  font-size: 18px !important;
}

.widget-title {
  font-size: 18px !important;
  font-weight: bold;
}

.post-image {

}

.page-numbers {
  cursor: pointer !important;
  color: #1d78cb !important;
}

.page-numbers:hover {
  text-decoration: underline !important;
}

.page-selected {
  color: #0f0f0f !important;
  text-decoration: none !important;
}

.widget {
  margin-bottom: 100px !important;
}
