<!-- footer container -->
<div id="footer-data-container" class="w-100 pt-5 pb-4">
  <div class="container">
    <!-- -->
    <!-- footer data container -->
    <div class="row">
      <!-- logo -->
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex flex-column align-items-center d-sm-block">
        <img src="../../../assets/IMG/logofolklore.svg" class="w-100" alt="Integreat logo">
      </div>

      <!-- Contact -->
      <div class="col-12 col-sm-6 col-md-5 col-lg-5 d-flex flex-column justify-content-center align-items-center align-content-center d-sm-block w-100">
        <p class="title-white font-bold mb-0 pt-4 pt-sm-0 pt-md-4 pt-lg-0 text-align-center">TU FRACCIONAMIENTO</p>
        <!-- Czech / Germany -->
        <div class="row d-flex flex-column align-items-center align-content-center justify-content-center">
          <div class="col-12 col-md-6 pt-4  d-flex flex-column align-items-center align-content-center justify-content-center d-sm-block w-100">
            <p class="body-white gray-color font-bold mb-0 footer-link text-align-center">CONTACTO</p>
            <p class="body-white gray-color font-bold mb-0 footer-link text-align-center mt-2">(33) 0000 0000 </p>
            <p class="body-white gray-color font-bold mb-0 footer-link text-align-center mt-2">(33) 0000 0001 </p>
            <p class="body-white gray-color font-bold mb-0 footer-link text-align-center mt-2">(33) 0000 0002 </p>
          </div>
        </div>
      </div>

      <!-- Navigate -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex flex-column align-items-center d-sm-block">
        <!-- Navigate -->
        <p class="title-white font-bold mb-0">NAVEGACIÓN</p>
        <!-- -->
        <p class="mb-0 pt-3">
          <a class="body-white gray-color mb-0 footer-link" >COLONOS</a>
        </p>
        <p class="mb-0">
          <a class="body-white gray-color mb-0 footer-link" >INICIO</a>
        </p>
        <!-- -->
        <p class="mb-0">
          <a class="body-white gray-color mb-0 footer-link">ECONOMÍA</a>
        </p>
        <p class="mb-0">
          <a class="body-white gray-color mb-0 footer-link" >SOCIEDAD</a>
        </p>
        <!-- -->
        <p class="mb-0">
          <a class="body-white gray-color mb-0 footer-link">DEPORTES</a>
        </p>
        <!-- -->
        <p class="mb-0">
          <a class="body-white gray-color mb-0 footer-link">OCASIÓN</a>
        </p>
      </div>
      <!-- Navigatiopn -->
      <!--<div class="col-12 col-md-6 col-lg-3">
      </div>-->

    </div>

    <!-- -->
    <div class="mt-5 pt-3 border-gray-top d-flex flex-column justify-content-between align-items-center align-content-center flex-wrap mb-5">
      <p class="body-white gray-color mb-0">© 2021 Folklore</p>
      <div class="d-flex flex-column flex-sm-row align-items-center align-content-center justify-content-end mt-3">
        <a class="body-white footer-link gray-color mr-sm-3 ml-sm-3 mb-0" target="_blank">Política de privacidad</a>
        <a class="body-white footer-link gray-color ml-sm-3 mb-0" target="_blank">Terminos y condiciones</a>
      </div>
    </div>
  </div>
</div>
