<div class="container pt-5 pb-5 pl-0 pr-0">

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img src="../../../../assets/IMG/sections/colonos.jpg" class="section-header" alt="Integreat logo" *ngIf="isColonos">
      <img src="../../../../assets/IMG/sections/economia.jpg" class="section-header" alt="Integreat logo" *ngIf="isEconomia">
      <img src="../../../../assets/IMG/sections/sociedad.jpg" class="section-header" alt="Integreat logo" *ngIf="isSociedad">
      <img src="../../../../assets/IMG/sections/deportes.jpg" class="section-header" alt="Integreat logo" *ngIf="isDeportes">
      <img src="../../../../assets/IMG/sections/ocasion.jpg" class="section-header" alt="Integreat logo" *ngIf="isOcasion">
    </div>
  </div>

</div>
